.music-list-container {
    flex: 1;
    padding: 20px;
    background: #181818;
    color: white;
    border-radius: 10px;
  }
  
  .section-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 17px;
    margin-left: 25px;
  }
  
  .search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }
  
  .search-bar {
    width: 90%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background: #333;
    color: white;
    font-size: 14px;
    outline: none;
  }
  
  .song-list {
    max-height: 400px;
    overflow-y: auto;
  }
  
  .song-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 8px;
    transition: background 0.3s;
    cursor: pointer;
  }
  
  .song-item:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  
  .song-thumbnail {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .song-info {
    flex-grow: 1;
    margin-left: 10px;
  }
  
  .song-title {
    font-size: 16px;
    font-weight: bold;
  }
  
  .song-artist {
    font-size: 12px;
    color: #ccc;
  }
  
  .song-duration {
    font-size: 14px;
    color: #bbb;
  }